<div class="tab-pane fade" id="tab-planning">
    <!-- BEGIN calendar -->
    <div class="calendar">
        <!-- BEGIN calendar-body -->
        <div class="calendar-body">
            <div data-scrollbar="true" data-height="100%">
                <div id="calendar"></div>
            </div>
        </div>
        <!-- ENG calendar-body -->
    </div>
    <!-- end calendar -->
</div>
